<%= simple_form_for(@post) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.input :post, label: "Your secret post",
        input_html: { class: "textarea" },
        wrapper: false,
        label_html: { class: "label" },
        placeholder: "Write your secret...",
        autofocus: true %>
    </div>
  </div>
  
  <%= f.error_notification message: 'Not a member' %>
  
  <% if user_signed_in? %>
    <%= f.button :submit, class: "bg-primary text-white" %>
  <% else %>
    <button class="btn bg-danger text-dark" title="Disabled button" disabled>Create Post</button>
    <span>Members Only*</span>
  <% end %>
<% end %>
