<section class=" p-2">
  <div class="container">
    <div class="row">
      <section class="col-3">
        <%= render "profile" %>
      </section>
      <section class="col-6">
        <%= render 'feed' %>
      </section>
      <section class="col-3">
        <%= render 'trending' %>
      </section>
    </div>
  </div>
</section>
